<!DOCTYPE html>
<html lang="en">

<head>
  <title>Will Rogers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, user-scalable=no">
  <!-- Black colour theme on Android. -->
  <meta name="theme-color" content="#000000">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png' | url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png' | url}}">
  <link rel="shortcut icon" href="{{'favicon.ico?' | url}}">
  <link type="text/css" rel="stylesheet" href="{{'/public/style.css' | url}}" />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wrgrs" />
  <meta name="twitter:title" content="Will Rogers" />
  {% if page.title %}
  <meta name="twitter:description" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:description" content="A personal site" />
  {% endif %}
  {% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}" />
  {% else %}
  <meta name="twitter:image" content="{{'/favicon-96x96.png' | url}}" />
  {% endif %}
  {% for css_name in extra_css %}
  <link type="text/css" rel="stylesheet" href="{{css_name | url}}" />
  {% endfor %}
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee%7CRaleway%7CPoppins%7CQuicksand:wght@500"
    rel="stylesheet">
  {% for js_name in extra_js %}
  <script type="text/javascript" src="{{js_name | url}}"></script>
  {% endfor %}
</head>

<body id=background>
  <div id="wrapper">
    <div id="header">
      <div id="menu">
        <div id="logo">
          <div id="monkey">
            <img src="{{'/static/monkey.png' | url}}" alt="monkey">
          </div>
          <a id=name-logo href="{{'/index.html' | url}}">Will Rogers</a>
        </div>
        <label id="toggle-label"></label>
        <input type="checkbox" id="toggle-menu" name="toggle-label" checked>
        <nav>
          <div id="menu-header">
            <a href="/index.html">WR</a>
            <img id="sidebar-monkey" src="/static/monkey.png" alt="monkey">
          </div>
          <ul class="nav-items">
            <li class="header-nav-item"><a href="{{'/index' | url}}">Blog</a></li>
            <li class="header-nav-item"><a href="{{'/about' | url}}">About</a></li>
            <li class="header-nav-item"><a href="{{'/links' | url}}">Links</a></li>
            <li class="header-nav-item"><a href="/xwds">Crosswords</a></li>
            <li class="header-nav-item">
              <a href="https://github.com/willrogers">
                <img class="header-nav-github" src="{{'/static/GitHub-Mark-64px.png' | url}}" alt="github">
                </img>
              </a>
            </li>
            <li class="header-nav-item">
              <a href="https://twitter.com/wrgrs">
                <img class="header-nav-twitter" src="{{'/static/Twitter_Logo_Blue.png' | url}}" alt="github">
                </img>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </div>
  <script src="{{'/js/menu.js' | url}}">
  </script>
</body>

</html>